.button {
  border: none;
  color: var(--color-gray-500);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--color-black);
}

.solid {
  border-radius: 5px;
  padding: 5px;
  width: 25px;
  height: 25px;
  background-color: var(--color-gray-300);
}

.solid:hover,
.solid:focus {
  background-color: var(--color-gray-500);
}

.success {
  border-radius: 5px;
  padding: 5px;
  width: 25px;
  height: 25px;
  color: var(--color-white);
  background-color: var(--color-success);
}

.success:hover,
.success:focus {
  color: var(--color-white);
  background-color: var(--color-success-hover);
}