.todo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0.5em 1em;
  background-color: var(--color-gray-100);
  gap: 20px;
}

.todo.checked {
  text-decoration: line-through;
  background-color: var(--color-success-light);
}

.todo:hover .removeButton {
  color: var(--color-black);
}

.removeButton {
  margin-left: auto;
}