.form {
  position: relative;
}

.input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-gray-100);
  padding: 10px 35px 10px 15px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  transition: border 0.2s ease-in-out;
}

.input:focus {
  border-bottom: 2px solid var(--color-gray-500);
}

.input::placeholder {
  color: var(--color-gray-500);
}

.button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.buttonIcon {
  transform: rotate(45deg);
}