*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color-white: #ffffff;
  --color-black: #35383E;
  --color-gray-500: #9A9B9E;
  --color-gray-300: #B6B8B9;
  --color-gray-200: #E1E2E2;
  --color-gray-100: #F5F5F5;
  --color-success: #00CD2D;
  --color-important: #FF0000;

  --font-family: 'Raleway', sans-serif;
}


body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.2;

  color: var(--color-black);
  background-color: var(--color-white);
}